{% extends "conteneur.html" %}
{% block afternav %}
    {% include "partials/recherche.html" %}
{%endblock%}
{% block corps %}

<p>
    <a href="{{url_for('recherche_tags')}}"> Rechercher par mots-clés</a>
</p>

<p><a href="{{url_for('presentation')}}"><i>Présentation du projet</i></a> </p>
<p><a href="{{url_for('galerie')}}"><i>Accéder à la galerie</i></a> </p>


{% if current_user.is_authenticated %}
<p><a href="{{url_for('upload')}}">Importer une nouvelle image dans la base</a></p>
<p><a href="{{url_for('update_accueil')}}">Modifier une photographie</a></p>
{% endif%}

 {% if photos %}
    <p>Voici {{photos|length}} des {{photos_affichees|length}} photographies enregistrées :</p>
        <ul>
            {% for photo in photos %}
                <li><a href="{{url_for('photo', photo_id=photo.photo_id)}}">{{photo.photo_titre}}</a></li>
            {% endfor %}
        </ul>
 {% else %}
        <p>La base de données est en cours de constitution</p>
 {% endif %}

<p><a href="{{url_for('index')}}"><i>Index</i></a> </p>

{% endblock %}