<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>Objet de l'Histoire, histoire de l'objet. {%block titre %}{%endblock%}</title>
        {% include "partials/css.html" %}
        {% include "partials/metadata.html" %}
    </head>


    <body>

      <div class="container">
        <nav class="navbar navbar-expand-md navbar-dark bg-dark justify-content-between">
        <a class="navbar-brand" href="{{ url_for('accueil') }}">Objet de l'Histoire, histoire de l'Objet</a>
        <form class="form-inline" action="{{url_for('recherche')}}" method="GET">
          <input class="form-control" name="keyword" type="search" placeholder="Recherche" aria-label="Recherche"/>
          <button class="btn btn-outline-info" type="submit">Rechercher</button>
      </form>

       <ul class="navbar-nav mr-auto">
            {% if not current_user.is_authenticated %}
              <li class="nav-item">
                <a class="nav-link" href="{{url_for('inscription')}}">Inscription</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{url_for('connexion')}}">Connexion</a>
              </li>
            {% else %}
              <li class="nav-item">
                <a class="nav-link" href="{{url_for('deconnexion')}}">Déconnexion ({{current_user.user_nom}})</a>
              </li>
            {% endif %}
        </ul>
      </nav>
      <div class="container">
        {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
          <div class="row">
              <div class="col">
                {% for category, message in messages %}
                  <div class="alert alert-{{category}}" role="alert">{{ message }}</div>
                {% endfor %}
              </div>
          </div>
          {% endif %}
        {% endwith %}


        <div class="row">
            <div class="col">
            {% block corps %}{% endblock %}
                <br/>
                <p><i>&copy; Chloé Pochon</i></p>
            </div>
        </div>
      </div>
      </div>
    </body>
</html>