{% extends "conteneur.html" %}

{% block titre %}| Modifier une image {%endblock%}

{% block corps %}

{% if current_user.is_authenticated %}
<div>
    <h2><i>Remplacez une image ou modifiez seulement sa notice grâce à ce formulaire</i></h2>

  {% if errors %}
  <ul>
{% for error in errors %}
  <li>{{error}}</li>
{% endfor %}
  </ul>
{% endif %}


<form method=POST enctype=multipart/form-data action="{{ url_for('edit_notice', photo_id=photo.photo_id)}}">
    <p><a href="{{url_for('replace', photo_id = photo.photo_id)}}">Remplacer la photographie</a></p>
    <p><a href="{{url_for('delete', photo_id = photo.photo_id)}}">Supprimer la photographie</a></p>
    <div class="img_resultat" style="width : 80%">
            <img src="/static/img/{{photo.photo_fichier}}" style="width: 100%"/>
    </div>

  <br/>
  <p><i>Après le téléchargement, veuillez compléter les champs ci-dessous :</i></p>
  <div class="form-group row">
    <label for="titre" class="col-sm-2 col-form-label">Titre de la photographie :</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="titre" name="titre" placeholder="Titre de la photographie" value="{{photo.photo_titre}}"/>
    </div>
  </div>
  <div class="form-group row">
    <label for="description" class="col-sm-2 col-form-label">Description de la photographie : </label>
    <div class="col-sm-10">
      <textarea type="text" class="form-control" id="description" placeholder="Description de la photographie" name="description" style="width : 100%;">{{photo.photo_description}}</textarea>
    </div>
  </div>
    <div class="form-group row">
    <label for="auteur" class="col-sm-2 col-form-label">Auteur : </label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="auteur" name="auteur" placeholder="Nom du photographe" value="{{photo.photo_auteur}}"/>
    </div>
  </div>
    <div class='form-group row'>
    <label for="date" class="col-sm-2 col-form-label">Date : </label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="date" name="date" placeholder="Année de la prise de vue (YYYY)" value="{{photo.photo_date}}"/>
    </div>
  </div>
    <div class="form-group row">
    <label for="tag" class="col-sm-2 col-form-label">Tag : </label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="tag" name="tag" placeholder="Inserez un mot-clé unique" value="{{photo.photo_tag}}"/>
    </div>
  </div>
    <div class="form-group row">
    <label for="orientation" class="col-sm-2 col-form-label">Orientation <i>(portrait/paysage)</i> : </label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="orientation" name="orientation" placeholder="Indiquez l'orientation" value="{{photo.photo_orientation}}"/>
    </div>
  </div>

    <div>
    <button type="submit" class="btn btn-primary">Sauvegarder</button>
  </div>
</form>


<br/>
<p><a href="{{url_for('accueil')}}"><i>Retour à la page d'accueil</i></a></p>
<p><a href="{{url_for('presentation')}}"><i>Présentation du projet</i></a></p>
<p><a href="{{url_for('galerie')}}"><i>Accéder à la galerie</i></a> </p>
<p><a href="{{url_for('index')}}"><i>Index</i></a> </p>

{% endif %}

</div>

{% endblock %}
