{% extends "conteneur.html" %}

{% block titre %}| Télécharger une nouvelle image {%endblock%}

{% block corps %}

{% if current_user.is_authenticated %}
<div>

    <p>Vous êtes sur le point de supprimer la photographie et sa notice de la base. <br>
        Voulez-vous poursuivre ?
    </p>

<form method=POST enctype=multipart/form-data action="{{ url_for('delete', photo_id=photo.photo_id)}}">
<div>
    <button type="submit" class="btn btn-primary">Oui, supprimer.</button>
  </div>
</form>

    <p><a href="{{url_for('edit_notice', photo_id=photo.photo_id)}}">Non, revenir en arrière.</a></p>
</div>

{% endif %}
{% endblock %}