{% extends "conteneur.html" %}

{% block titre %}| Télécharger une nouvelle image {%endblock%}

{% block corps %}

{% if current_user.is_authenticated %}
<div>
    <h2><i>Remplacer l'image actuelle</i></h2>

    {% if errors %}
  <ul>
    {% for error in errors %}
    <li>{{error}}</li>
    {% endfor %}
  </ul>
    {% endif %}

<form method=POST enctype=multipart/form-data action="{{ url_for('replace', photo_id=photo.photo_id)}}">
    <div class="img_resultat" style="width : 80%">
            <img src="/static/img/{{photo.photo_fichier}}" style="width: 100%"/>
    </div>
    <br/>
<div>
    <input type=file name=photo>
    <br/>
</div>
    <div class="form-group row">
    <label for="chemin" class="col-sm-2 col-form-label">Chemin du fichier <i>(mention entre crochets à remplacer par le nom du fichier)</i>: </label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="chemin" name="chemin" placeholder='<img src="/static/img/[exemple.jpg]"/>' value="{{photo.photo_chemin}}"/>
      <p><i>(Modification du champ nécessaire si la photographie a été remplacée)</i></p>
    </div>
  </div>
  <div class="form-group row">
    <label for="fichier" class="col-sm-2 col-form-label">Nom du fichier : </label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="fichier" name="fichier" placeholder="exemple.jpg" value="{{photo.photo_fichier}}" />
      <p><i>(Modification du champ nécessaire si la photographie a été remplacée)</i></p>
    </div>
  </div>
   <br/>
    <div>
    <button type="submit" class="btn btn-primary">Remplacer</button>
    </div>
</form>

</div>
    {% endif %}

    {% endblock %}